<div class="container">
  <div class="row">
    <div class="col-sm-4" *ngFor="let item of data">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            {{item.username}}
            <p class="pull-right">
              <a href="javascript:;" (click)="deleteUser(item.id)">
                <span class="glyphicon glyphicon-remove"></span>
              </a>
              <a href="javascript:;" (click)="updateUser(item.id, item.phone, item.email, item.address)">
                <span class="glyphicon glyphicon-edit" (click)="lgModal.show()"></span>
              </a>
            </p>
          </div>
        </div>
        <a href="/all_users/{{item.id}}">
          <div class="panel-body">
            <p>
              电话: {{item.phone}}
            </p>
            <p>
              邮箱: {{item.email}}
            </p>
            地址: {{item.address}}
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
     aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">修改用户信息</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form #editUser="ngForm">
          <label>手机号</label>
          <p>
            <input type="text" [(ngModel)]="phone" name="phone" class="form-control"/>
          </p>
          <label>邮箱</label>
          <p>
            <input type="text" [(ngModel)]="email" name="email" class="form-control"/>
          </p>
          <label>地址</label>
          <p>
            <textarea [(ngModel)]="address" name="address" class="form-control"></textarea>
          </p>
          <p class="text-right">
            <button class="btn btn-primary" (click)="editUserInfo()">提交</button>
          </p>
        </form>
      </div>
    </div>
  </div>
</div>
