<div class="container">
  <div class="row">
    <div class="col-sm-4 col-sm-offset-4">
      <div>
        <br/>
        <br/>
        <br/>
        <h4 class="text-center text-primary">用户登录</h4>
        <p></p>
        <form #login="ngForm">
          <p>
            <input type="text" class="form-control" [(ngModel)]="username" name="username" placeholder="用户名" required/>
          </p>
          <p>
            <input type="password" class="form-control" [(ngModel)]="password" name="password" placeholder="密码"
                   required/>
          </p>
          <p class="text-right">
            <button class="btn btn-primary btn-block" (click)="loginHandel()" [disabled]="!login.form.valid">登录</button>
          </p>
          <p class="text-danger">{{message}}</p>
        </form>
      </div>
    </div>
  </div>
</div>
