<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            分享文章
        </div>
    </div>
    <div class="panel-body">
        <ul class="list-group" style="margin: 0; padding: 0">
            <a routerLink="artical/1" class="list-group-item">
                <img src="./app/images/sf.png" class="pull-left"
                     style="width: 45px; height: 45px; margin-right: 10px;"/>
                <div class="block">
                    <h4 class="list-group-item-heading">angular2 router详解</h4>
                    <p class="list-group-item-text">angular2使用组件形式,所以可以轻易的实现嵌套的路由。</p>
                </div>
            </a>
            <a routerLink="artical/1" class="list-group-item">
                <img src="./app/images/js.jpg" class="pull-left"
                     style="width: 45px; height: 45px; margin-right: 10px;"/>
                <div class="block">
                    <h4 class="list-group-item-heading">angular2组件通信</h4>
                    <p class="list-group-item-text">angular2组件之间传递数据,@Output() @Input()。</p>
                </div>
            </a>
            <a routerLink="artical/1" class="list-group-item">
                <img src="./app/images/sf.png" class="pull-left"
                     style="width: 45px; height: 45px; margin-right: 10px;"/>
                <div class="block">
                    <h4 class="list-group-item-heading">angular2 自定义指令</h4>
                    <p class="list-group-item-text">Directive, ElementRef, HostListener, Input, Renderer</p>
                </div>
            </a>
            <a routerLink="artical/1" class="list-group-item">
                <img src="./app/images/sf.png" class="pull-left"
                     style="width: 45px; height: 45px; margin-right: 10px;"/>
                <div class="block">
                    <h4 class="list-group-item-heading">angular2 自定义管道</h4>
                    <p class="list-group-item-text">Pipe, PipeTransform</p>
                </div>
            </a>
        </ul>
    </div>
</div>
