<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            前沿技术
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-sm-3">
                <div class="well" style="margin: 0;">
                    <h4 style="color: #dd0031;">Angular2</h4>
                    <p>组件化的前端框架</p>
                    <p>google</p>
                    <span class="pull-right glyphicon glyphicon-circle-arrow-right cursor"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well" style="margin: 0;">
                    <h4 style="color: #7dbf38;">Nodejs</h4>
                    <p>js写的服务器端语言</p>
                    <p>v8引擎</p>
                    <span class="pull-right glyphicon glyphicon-circle-arrow-right cursor"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well" style="margin: 0;">
                    <h4 style="color: #aaa;">Express</h4>
                    <p>nodejs的框架</p>
                    <p>简单、方便</p>
                    <span class="pull-right glyphicon glyphicon-circle-arrow-right cursor"></span>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="well" style="margin: 0;">
                    <h4 style="color: #4a8bfa;">ionic2</h4>
                    <p>组件化的移动端框架</p>
                    <p>混合移动前端框架</p>
                    <span class="pull-right glyphicon glyphicon-circle-arrow-right cursor"></span>
                </div>
            </div>
        </div>
    </div>
</div>
